.products{
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &__text{
    max-width: 440px;
  }
  &__p{
    margin-bottom: 30px;
  }
  &__slider-box{
    position: relative;
  }
  &__slider{
    max-width: 560px;
    padding-top: 110px;
    &::before{
      content:'';
      position: absolute;
      width: 560px;
      height: 276px;
      border: 4px solid #fff;
      top: 90px;
      right: -15px;
    }
  }
  &__slider-text{
    width: 280px;
    position: absolute;
    font-size: 23px;
    line-height: 26px;
    text-align: right;
    @extend %ubuntu-medium;
    bottom: 30px;
    left: -225px;
    z-index: 5;
  }
 }
 .slider-btn{
    padding: 15px 25px;
    border: none;
    background-color:#fff;
    position: absolute;
    bottom: -45px;
    right: 0;
    cursor:pointer;
    z-index: 6;
    outline: none;
    transition: all .3s;
    svg{
     stroke: #000;
    }
    &:hover{
     background-color: #000;
     svg{
       stroke: #fff;
     }
    }
    &:active{
     background-color: #fff;
     svg{
       stroke: #000;
     }
    }
   &__left{
    right: 60px;
   }
   &.slick-disabled{
     background-color: #000;
     svg{
       stroke: #fff;
     }
   }
 }