@font-face{
  font-family: 'SFProDisplay';
  src: url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot'); //IE8 - 4
  src: url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2') format('woff2'), // Compressed woff
       url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'), // Pretty Modern Browsers
       url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('truetype'); //  Old Safari, Android, iOS
       font-weight: 400;
       font-style: normal;
       font-display: swap;
}
@font-face{
  font-family: 'SFProDisplay';
  src: url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot'); 
  src: url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2')format('woff2'), 
       url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff') format('woff'), 
       url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
       font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu-Bold/Ubuntu-Bold.eot');
  src: url('../../fonts/Ubuntu-Bold/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Ubuntu-Bold/Ubuntu-Bold.woff') format('woff'), 
       url('../../fonts/Ubuntu-Bold/Ubuntu-Bold.ttf') format('truetype'); 
       font-weight: 700;
       font-style: normal;
       font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu-Light/Ubuntu-Light.eot');
  src: url('../../fonts/Ubuntu-Light/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Ubuntu-Light/Ubuntu-Light.woff') format('woff'),
       url('../../fonts/Ubuntu-Light/Ubuntu-Light.ttf') format('truetype'); 
       font-weight: 300;
       font-style: normal;
       font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu-Medium/Ubuntu-Medium.eot');
  src: url('../../fonts/Ubuntu-Medium/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'),
       url('../../fonts/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype');
       font-weight: 500;
       font-style: normal;
       font-display: swap;
}