//FONTS
%ubuntu-light{   //mainFont
  font-family: 'Ubuntu',sans-serif;
  font-weight: 300;
}
%sf-regular{
  font-family:'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}
%sf-semibold{
  font-family:'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
}
%ubuntu-medium{
  font-family: 'Ubuntu',sans-serif;
  font-weight: 500;
}
%ubuntu-bold{
  font-family: 'Ubuntu',sans-serif;
  font-weight: 700;
}
//MAIN
$mainFontColor           : #fff;
$mainFontSize            : 17px;
$mainLineHeight          : 26px;
$desktopWidth            : 1920px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;